<div class="AboutUS">
  <div class="container">
    <h3>About Us</h3>
    <p>
      We are crazy coding students of Mashrur studying Ruby on Rails (RoR). 
    </p>
    <%= link_to image_tag('sh.jpg', alt: 'Crazy Tap Dancing Coder Guy!', title: 'Crazy Tap Dancing Coder Guy!'), '../' %>
    <h4>Let's go to the Lobby!</h4>
  </div>  
</div>