<br><br><br>

<div class="container">
  <div class="row">
    <div class="well well-lg">
      <a href="#" class="btn">Button</a>
      <a href="#" class="btn btn-primary">Button</a>
      <a href="#" class="btn btn-success">Button</a>
      <a href="#" class="btn btn-info">Button</a>
      <a href="#" class="btn btn-warning">Button</a>
      <a href="#" class="btn btn-danger">Button</a>
      <a href="#" class="btn btn-link">Button</a>
    </div>
    <div>
      <a href="#" class="btn btn-primary btn-lg btn-xl">Button</a>
      <a href="#" class="btn btn-lg">Button</a>
      <a href="#" class="btn btn-primary btn-md">Button</a>
      <a href="#" class="btn btn-success btn-sm">Button</a>
      <a href="#" class="btn btn-info btn-xs">Button</a>
    </div>
    <br/>
    <br/>
    <div class="well well-sm">
      <a href="#" class="btn btn-success btn-block">Button</a>
    </div>
  </div>
</div>