<div class="center jumbotron">
  <div class="container">
    <h1>Ruby on Rails</h1>
    <h3>The Complete Ruby on Rails Developer Course</h3>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-xl" %>   <%# btn btn-primary %>
  </div>
</div>


<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Learn Ruby</h3>
        <p>Ruby is the foundation on which Ruby on Rails is built.</p>
        <a href="#">Learn More</a>
      </div>
      <div class="col-md-4">
        <h3>Learn Ruby on Rails</h3>
        <p>RoR speeds up your workflow and saves countless hours.</p>
        <a href="#">Learn More</a>
      </div>
      <div class="col-md-4">
        <h3>Over 200 Lectures!</h3>
        <p>Learn at your own pace with lectures on demand.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>